<h1>Result</h1>

<% if @valid_letters %>
  <% if @english_word %>
    <p><strong>Congratulations!</strong> <%= @answer %> is a valid English word!</p>
  <% else %>
    <p>Sorry but <strong><%= @answer %></strong> does not seem to be a valid English word...</p>
  <% end %>
<% else %>
  <p>Sorry but <strong><%= @answer %></strong> can't be built out of <%= @letters %></p>
<% end %>

<h2>Your score: <%= @score %></h2>
<h3>Total score: <%= @total_score %></h3>
<!-- <h3>your session score: <%= @session_score %></h3> -->

<%= link_to "Play again!", new_path %>

